{% extends "base.html" %}
{% set active_page = "body_reshape" %}

{% block title %}Body Reshape{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Body Reshape AI</h1>
<div class="col-12 up-area">
    <ul class="mystyle_ul">
        <li class="menu">
            <a>
                <h3 class="cap">Work with Image</h3>
            </a>

            <div class="custom-column">
                <!-- TODO: DRAG & DROP -->
                <!-- <div id="single_file_drop_zone">
                <p>Drag one or more files to this <i>drop zone</i>.</p>
                </div> -->

                <div class="custom-row gap-28" style="align-items: center;">
                    <!-- Drop & Drag Image -->
                    <input type="file" id="single_file_upload" name="single_file_upload" style="display: none;" />

                    <label for="single_file_upload" class="click form-click">
                        <p>클릭하여 파일 업로드</p>
                    </label>

                    <!-- dragbar -->
                    <div class="slidecontainer">
                        <input type="range" min="0" max="1" value="0" step="0.1" class="slider" id="single_file_slider">
                        <p>parameter value: <span id="single_file_slider_value"></span></p>
                    </div>
                </div>

                <!-- Show Image -->
                <div class="custom-row center" style="height: 450px;">
                    <img style="height: 450px; width: 300px; object-fit: contain;" id="single_file_input" src=""
                        alt="파일을 넣어주세요">

                    <img src="{{ url_for('static', path='/icons/icon-arrow_right.svg') }}">

                    <img style="height: 450px; width: 300px; object-fit: contain;" id="single_file_output" src=""
                        alt=" ">
                </div>

            </div>

        </li>
    </ul>
</div>


<hr />


<div class="col-12 up-area">
    <ul style="list-style-type: none;">
        <li class="menu">
            <a>
                <h3 class="cap">Work with Files</h3>
            </a>
            <div class="custom-column">
                <div class="custom-row gap-28" style="align-items: center;">
                    <!-- Drop & Drag Files -->
                    <input type="file" multiple id="multi_file_upload" name="multi_file_upload"
                        style="display: none;" />

                    <label for="multi_file_upload" class="click form-click">
                        <p>클릭하여 파일들 업로드</p>
                    </label>

                    <!-- Parameter 조정 -->
                    <!-- dragbar -->
                    <div class="slidecontainer">
                        <input type="range" min="0" max="1" value="0" step="0.1" class="slider" id="multi_file_slider">
                        <p>parameter value: <span id="multi_file_slider_value"></span></p>
                    </div>
                </div>

                <!-- Show Image -->
                <div class="custom-row center" style="height: 450px;">
                    <img style="height: 450px; width: 300px; object-fit: contain;" id="multi_file_input" src=""
                        alt="파일들을 넣어주세요">

                    <img src="{{ url_for('static', path='/icons/icon-arrow_right.svg') }}">

                    <img style="height: 450px; width: 300px; object-fit: contain;" id="multi_file_output" src=""
                        alt=" ">
                </div>

                <!-- Next & Prev Buttons -->
                <div class="custom-row gap-12 center">

                    <div class="click svg-btn" id="multi_file_prev">
                        <img src="{{ url_for('static', path='/icons/icon-double_arrow_left.svg') }}">
                    </div>

                    <div class="click svg-btn" id="multi_file_next">
                        <img src="{{ url_for('static', path='/icons/icon-double_arrow_right.svg') }}">
                    </div>

                </div>


            </div>
        </li>
    </ul>
</div>


<!-- LOADING SCREEN -->
<div class="loading-screen-hidden loading-screen custom-column center" id="loading">
    <p>결과 불러오는 중</p>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    // html dom 이 다 로딩된 후 실행된다.
    $(document).ready(function () {
        // menu 클래스 바로 하위에 있는 a 태그를 클릭했을때
        $(".menu>a").click(function () {
            var submenu = $(this).next("ul");

            // submenu 가 화면상에 보일때는 위로 보드랍게 접고 아니면 아래로 보드랍게 펼치기
            if (submenu.is(":visible")) {
                submenu.slideUp();
            } else {
                submenu.slideDown();
            }
        });
    });
</script>

{% endblock %}